extends layout 

block content 

  h1 #{title}: #{bookInstance._id}

  p Do you really wan't to delete this bookInstance?

  form(method='POST' action='')
    div.form-group
      input#bookinstanceid.form-control(type='hidden', name='bookinstanceid', required='true', value=bookInstance._id) 
  
    button.btn.btn-primary(type='submit') Delete